<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Amiibo League</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <img src="/logo/logo_standard.png" alt="Amiibo League Logo" class="logo">
        <a href="/">Home</a>
        <a href="/leaderboard">Leaderboard</a>
        <a href="/match">Match</a>
        <a href="/swiss">Swiss</a>
        <a href="/league">League</a>
        <a href="/knockout">Knockout</a>
        <a href="/seasons">Seasons</a>
        <button id="theme-toggle" class="theme-toggle">Dark Mode</button>
    </nav>
    <main class="content">
        {% block content %}{% endblock %}
    </main>
    <script src="/static/darkmode.js"></script>
    <script src="/static/scroll.js"></script>
</body>
</html>
